body{
    color: white;
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
    background-image:linear-gradient(rgba(0,0,0,0.70), rgba(0,0,0,0.70)), url(../estilos/imagens/btcfundo.webp);
    background-repeat: no-repeat;
    background-size: cover;
}

ul{
    display:flex;
    justify-content:space-around;
    list-style-type:none;
    align-items:center;
    padding: 16px;
}

a{
    color: white;
    text-decoration: none;
}


nav a:hover{
    color: rgb(245, 179, 58);
    transition: 0.3s;
}

header img{
    width: 180px;
    height: 180px;
    border: 5px solid white;
    border-radius: 60%;
}

.center{    
text-align: center;
}

h1{
    color: rgb(245, 179, 58);
}

h2{
    margin-bottom: 50px;
    margin-top: 1px;
}

img{
    height: 40px;
    width: 40px;
}

footer{
    display: flex;
    justify-content: center;
}

footer a{
    margin: 20px;
    text-align: center;
}

footer p{
    margin-top: 2px;
}

.container{
    padding: 0px 50px;
}